<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "stores/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :店舗名 %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :プロフィール %>
    <%= f.text_area :profile %>
  </div>
  <div class="field">
    <%= f.label :駅名 %>
    <%= f.text_field :station_name %>
  </div>

  <div class="field">
    <%= f.label :住所 %>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :電話番号 %>
    <%= f.telephone_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :働き方 %>
    <%= f.select :how_to_work, Store.how_to_works.keys.map {|k| [I18n.t("enums.store.how_to_work.#{k}"), k]} %>
  </div>
  <div class="field">
    <%= f.label :稼ぎ方 %>
    <%= f.select :how_to_earn, Store.how_to_earns.keys.map {|k| [I18n.t("enums.store.how_to_earn.#{k}"), k]} %>
  </div>
  <div class="field">
    <%= f.label :募集待遇 %>
    <%= f.select :treatment, Store.treatments.keys.map {|k| [I18n.t("enums.store.treatment.#{k}"), k]} %>
  </div>
  <div class="field">
    <%= f.label :行き方 %>
    <%= f.select :go_to_work, Store.go_to_works.keys.map {|k| [I18n.t("enums.store.go_to_work.#{k}"), k]} %>
  </div>
  <div class="field">
    <%= f.label :スキル %>
    <%= f.select :skill, Store.skills.keys.map {|k| [I18n.t("enums.store.skill.#{k}"), k]} %>
  </div>
  <div class="field">
    <%= f.label :給与 %>
    <%= f.select :salary, Store.salaries.keys.map {|k| [I18n.t("enums.store.salary.#{k}"), k]} %>
  </div>
  <div class="field">
    <%= f.label :時間帯 %>
    <%= f.select :time_zone, Store.time_zones.keys.map {|k| [I18n.t("enums.store.time_zone.#{k}"), k]} %>
  </div>
  <div class="field">
    <%= f.label :雰囲気 %>
    <%= f.select :atmosphere, Store.atmospheres.keys.map {|k| [I18n.t("enums.store.atmosphere.#{k}"), k]} %>
  </div>
  <div class="field">
    <%= f.label :年齢層 %>
    <%= f.select :age_group, Store.age_groups.keys.map {|k| [I18n.t("enums.store.age_group.#{k}"), k]} %>
  </div>
  <div class="field">
    <%= f.label :県名 %>
    <%= f.select :prefecture_name, Store.prefecture_names.keys.map {|k| [I18n.t("enums.store.prefecture_name.#{k}"), k]} %>
  </div>
  <div class="field">
    <%= f.label :駅から歩いて何分 %>
    <%= f.select :station_on_foot, Store.station_on_foots.keys.map {|k| [I18n.t("enums.store.station_on_foot.#{k}"), k]} %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "stores/shared/links" %>
